.active{
  border-bottom: 2px solid aqua;
  color: #ffffff;
}
.text-18{
  font-size:18px;
  color: #909090;
  font-weight: 600;
}
.text-14{
  font-size:14px;
  color: #909090;
}
.ms-6{
  margin-left: 4rem;
}

.noOutLine{
  color: #ffffff;
  outline: blue;
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(255, 0, 0, 0);
  :focus{
    border-bottom: 2px solid rgba(0, 255, 255, 0.34) !important;
    color: rgba(28, 28, 28, 0);


}
}
:active{
  color: #d0baba
}
