.active{
  border-bottom: 2px solid aqua;
  color: #ffffff;
}
.text-18{
  font-size:18px;
  color: #909090;
  font-weight: 600;
}
.text-14{
  font-size:14px;
  color: #909090;
}
.ms-6{
  margin-left: 4rem;
}
*{
  scroll-behavior: smooth;
}
