<div class="container-fluid px-4">
  <div class="list-group d-flex d-block overflow-scroll " >
    <div class="list-group-item d-block bg-gr "   *ngFor="let dato of datos?.results; let i = index" >
      <button class="text-start  w-100 btn bg-gr " (click)="goTO(dato.url)">
        <span  class="d-block text-decoration-none text-18  bg-opacity-50">Presupuesto: {{dato?.name}}</span>
        <span class="d-block text-decoration-none  text-14  bg-opacity-50">Nombre:{{dato?.model}}</span>
      </button>

  </div>
    <div class="d-flex w-100">
      <button class="w-100 text-light btn btn-outline-dark " (click)="next()">view more</button>
      <button class="w-100 text-light btn btn-outline-dark " (click)="prev()">Go back</button>
    </div>
  </div>
</div>





